.gradientBg {
    background-image: linear-gradient(to top, #141e30, #243b55);
    padding-top: 80px;
    @media only screen and (max-width: 772px) {
        padding-top: 30px;
    }
}

.heroText {
    color: white;
    font-size: 82px;
    @media only screen and (max-width: 772px) {
        font-size:44px;
    }
}

.gradientHeroText {
    font-size: 82px;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media only screen and (max-width: 772px) {
        font-size:44px;
    }
}

.coinLogo {
    width: 150px;
    height: auto;
    @media only screen and (max-width: 772px) {
        width:100px;
    }
}

.ethLogo {
    width: 100px;
    height: auto;
    @media only screen and (max-width: 772px) {
        width:70px;
    }
}