.ant-table {
    background: transparent !important;
    color: white !important;
    border: none !important;
    font-family: "Rubik", sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
  }
  
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    border: none !important;
  }

  .ant-pagination,
  .ant-pagination-item-ellipsis,
  .ant-pagination-item-link {
    font-family: "Rubik", sans-serif !important;
    color: white !important;
  }

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}

a {
    font-family: "Rubik", sans-serif !important;
}

.ant-pagination .ant-pagination-item-active {
    background-color: transparent !important;
}

.ant-select-selector {
    display: none !important;
}

.table-width {
    width: 75%;
    @media only screen and (max-width: 772px) {
        width: 100%;
    }
}

.imgWidth {
    max-width: 64px;
    max-height: 64px;
}