.ant-table {
    background: transparent !important;
    color: white !important;
    border: none !important;
    font-family: "Rubik", sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
  }
  
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    border: none !important;
  }

  .ant-pagination,
  .ant-pagination-item-ellipsis,
  .ant-pagination-item-link {
    font-family: "Rubik", sans-serif !important;
    color: white !important;
  }

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}

a {
    font-family: "Rubik", sans-serif !important;
}

.ant-pagination .ant-pagination-item-active {
    background-color: transparent !important;
}